n8n/workflows/gate-daily-summary.json
{
  "name": "LoopOver Gate Daily Summary",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "schedule-daily",
      "name": "Daily 09:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.LOOPOVER_GATE_SUMMARY_URL ?? 'http://loopover:8787/v1/app/selfhost/gate/summary' }}",
        "options": {}
      },
      "id": "fetch-summary",
      "name": "Fetch gate summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [280, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOOPOVER_SUMMARY_WEBHOOK_URL ?? 'https://example.com/webhook' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "post-summary",
      "name": "Post summary webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, 0]
    }
  ],
  "connections": {
    "Daily 09:00": {
      "main": [
        [
          {
            "node": "Fetch gate summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch gate summary": {
      "main": [
        [
          {
            "node": "Post summary webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "loopover-gate-daily-summary"
  }
}
